.top-form {
  padding: ($m-gutter * 2) $m-gutter;
  background: $c-white;
}

.form-control {

  // this next line says look for the sibling of the parent with the same class name.
  & + & {
    margin-top: $m-gutter;
  }

  &__input {
    width: 100%;
    padding: 0.2rem;
    font: inherit;
  }
}

.form-actions {
  display: flex;
  justify-content: flex-end;

  // if the parent selector (&) comes after anything (*)
  * + & {
    margin-top: $m-gutter;
  }

  // inside of the parent selector, select the second thing
  > * + * {
    margin-left: $m-gutter;
  }
}
