// @import 'yoga';
// @import 'normalize';

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
//
// colors
$c-white: #fff;
$c-light-grey: #d5d5d5;
$c-dark-grey: #c6c6c6;
$c-text: #838383;
$c-primary: #485a9c;
$c-primary-dark: darken($c-primary, 30%);
$c-success: #449343;

// fonts
$f-primary: 'Lato', sans-serif;

// measurements
$m-max-width: 40rem;
$m-gutter: 1rem;

// shadows
$shadow-1: 2px 2px 5px rgba(0, 0, 0, 0.4);

@import 'font-awesome';
@import 'box-sizing';
@import 'resets';
@import 'layout';
@import 'button';
@import 'nav';
@import 'form';

.card {
  margin: 0 $m-gutter;
  padding:  $m-gutter;
  background: $c-white;
  box-shadow: $shadow-1;

  &__pic {
    width: calc(100% + 2rem);
    // had to put max-width: none; to allow width to overtake the inherited(?) max-width;
    max-width: none;
    margin: -$m-gutter;
    margin-bottom: 0;
  }
}
