// @import 'yoga';
// @import 'normalize';

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
//
// colors
$c-white: #fff;
$c-light-grey: #d5d5d5;
$c-dark-grey: #c6c6c6;
$c-text: #9e9e9e;
$c-primary: #485a9c;
$c-primary-dark: darken($c-primary, 30%);
$c-success: #449343;

// measurements
$m-max-width: 60rem;
$m-gutter: 1rem;

@import 'font-awesome';
@import 'box-sizing';
@import 'resets';

.top-nav {
  // honestly not sure why position relative is necessary
  position: relative;
  padding: ($m-gutter / 1.5) $m-gutter;
  background: $c-primary;
  color: $c-primary-dark;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.container {
  max-width: $m-max-width;
  margin: auto;
}

.form-toggle {
  padding: 0;
  border: 0;
  background: none;
  color: inherit;
  font: inherit;

  &__icon {
    @extend .fa;
    @extend .fa-bars;
    cursor: pointer;
  }
}

.top-form {
  padding: $m-gutter;
  background: $c-white;
}
