body {
  margin: 0;
  background-color: $c-light-grey;
  color: $c-text;
  font-family: $f-primary;
  box-sizing: border-box;
}

ul {
  padding: 0;
  list-style: none;
}

img {
  align-self: center;
  max-width: 100%;
}
